* {
  all: unset;
  margin: 20px;
  background-color: rgba(0,0,0,0);
  font-family: "Battle Andy", "Natsume";
}
.btn1 {
    font-size: 70px;
    color: #ee5396;
}
.btn2 {
  font-size: 50px;
  color: #82cfff;
}
